* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {

    * {
        border: 1px black dotted;
    }

    .wrapper {
        background-color: #3aff61;
    }

    header {
        background-color: lightblue;

        .header-top {
            background-color: #ff22f0;
        }

        .header-bottom {
            background-color: #f59def;
        }
    }

    .bottom {
        background-color: #5cfff9;

        .main-left {
            background-color: #ff5c5c;

            .card {
                .card-top {
                    height: 100px;
                    background-color: lightgray;
                }

                .card-bottom {
                    height: 50px;
                    background-color: lightslategray;
                }
            }

        }

        .aside-right {
            background-color: #ff5c5c;

            .card-big {
                .card-top {
                    height: 300px;
                    background-color: lightgray;
                }

                .card-bottom {
                    height: 150px;
                    background-color: lightslategray;
                }
            }
        }

    }
}

.wrapper {
    height: 100vh;
    overflow: hidden;
}

header {
    height: 110px;

    .header-top {
        width: 90%;
        margin: auto;
        height: 55px;
    }

    .header-bottom {
        width: 90%;
        margin: auto;
        height: 55px;
    }
}


.bottom {
    height: calc(100vh - 110px);
    width: 90%;
    margin: auto;
    display: flex;
    gap: 1rem;

    .main-left {
        width: 65%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;

        .card {
            width: calc(100% / 4);
            padding: 0.5rem;

            .card-top {
                width: 100%;
            }

            .card-bottom {
                width: 100%;
            }
        }

    }

    .aside-right {
        overflow-y: auto;
        width: 35%;
        height: 100%;

        .card-big {
            width: 100%;
            padding: 0.5rem;

            .card-top {
                width: 100%;
            }

            .card-bottom {
                width: 100%;
            }
        }
    }
}